img{
    width: 70%; 
    height: auto;    
}
.center{
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 1rem;
}

.back {
    color: #58666e;
    font-size: 1.1rem;
}

th {
    width: 14%;
}

body {
    background: #edeef0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;  
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

#container {
    display: flex;
    flex-direction: row;
}

#sidebar {
    display: none;
    color: #8a8b8c;
    background: #212529;
    height: 100vh;
    padding: 0rem 15px 0rem 15px;
    flex-direction: column;
    box-sizing: border-box;
}

table {
    margin-left: auto;
    margin-right: auto;

    border-collapse: collapse;
    text-align: center;
    width: 95%;

    border-radius: .35rem !important;
    font-weight: 300;
}

@media (min-width: 1100px) {
    #sidebar {
        min-width: 17.5em;
        display: flex;
        max-width: 16.66666667%;
    }
    table {
        width: 75%;
    }
}

#tables {
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    height: 100vh;
}

.box_shadow {
    box-shadow: 0 .125rem .25rem rgba(28,43,54,.075)!important;
    border-radius: .35rem !important;
    box-sizing: border-box;
    margin-bottom: 1rem !important;
    color: #58666e;
    background-color: #fff;
    padding: 1rem;
}

.table_container {

}

th {
    background-color: #f8f9fa;
    color: #58666e;
    font-weight: 600;
    padding: .55rem;
    font-size: 1.3rem;
    text-align: center;
}

td {
    padding: .55rem;
    font-size: 1.3rem;
    text-align: center;
}

.btn {
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 0 .125rem .25rem rgba(28, 43, 54, .075) !important;
    border-radius: .35rem !important;
    align-items: center !important;
    display: flex !important;
    padding: .5rem 1rem;
    text-decoration: none !important;
    cursor: pointer;
    color: white;
    list-style: none;
    color: #babec2;
}

.btn:hover {
    background-color: #191d21;
}

.table_link {
    text-decoration: none;
    color: #58666e;
    font-weight: 400;
}

.image_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}

.image_subtext {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.image_link {
    text-decoration: none;
    color: #58666e;
    font-weight: 400;
}

.timeline-wrapper {
    width: 80%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.timeline-item {
    min-width: 100%;
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
}

.timeline-item img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
}

#timeline-slider {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
    width: 80%;
}

#button-interactive {
    position: relative;
    background: linear-gradient(157deg, rgba(21,55,31,1) 0%, rgba(53,154,80,1) 35%, rgba(60,217,104,1) 100%);
    overflow: hidden;
    transition: background 0.3s ease-in-out;
}
#button-interactive::before {
    z-index: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(28,71,40,1) 0%, rgba(49,122,69,1) 35%, rgba(70,173,99,1) 100%);
    transition: opacity 0.3s ease-in-out;
    opacity: 0.8;
}

#button-interactive:hover::before {
    opacity: 0;
}

#button-interactive span {
    position: relative;
    z-index: 2;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 25rem;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #3f4b44;
    border-radius: 1rem;
    height: 1rem;
    opacity: 0.8;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: #009b3d;
    border-radius: 1rem;
    height: 1.5rem;
    width: 1.5rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #009b3d;
    outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: #3f4b44;
    border-radius: 1rem;
    height: 1rem;
    opacity: 0.8;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    background-color: #009b3d;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 1rem;
    height: 1.5rem;
    width: 1.5rem;
}

input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #009b3d;
    outline-offset: 0.125rem;
}

.lazyload {
    opacity: 0;
}

.lazyloading {
    opacity: 1;
    transition: opacity 300ms;
    background: #f7f7f7 url(loading.gif) no-repeat center;
}